@model IEnumerable<ModeladorApp.Models.Entities.TB_PERMISOS>
@{
    ViewData["Title"] = "Inicio";
}

@section Scripts {
    <script src="~/js/Home/index.js"></script>
}

<style>
    .loadingP {
        background-image: url(img/loading.gif);
        width: 15px;
        display: inline-block;
    }

    .colapsado {
        width: 15px;
        cursor: pointer;
    }

    .expandido {
        width: 15px;
        cursor: pointer;
    }

    .treeview ul {
        font: 14px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 20px;
        list-style: none;
    }

    .treeview > li > a {
        font-weight: bold;
    }

    .treeview li a {
        padding: 4px;
        font-size: 12px;
        display: inline-block;
        text-decoration: none;
        width: auto;
    }
</style>


<form asp-action="Index" method="get">

    <div class="card">

        <ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs">
            <li class="nav-item">
                <a href="#master" onclick="loadMaster()" class="nav-link active"
                   data-bs-toggle="tab"><strong>MASTER</strong></a>
            </li>
            @foreach (var item in Model)
            {
                <li class="nav-item">
                    <a href="#proyecto_@item.ProyectoID" class="nav-link"
                       data-bs-toggle="tab">@Html.DisplayFor(modelItem => item.TB_PROYECTO.NombreProyecto)</a>
                </li>
            }
        </ul>

        <div class="card-body">

            <div class="tab-content">

                <div class="tab-pane show active" id="master">

                    <div class="row align-items-center">
                        <div class="col-auto ms-auto d-print-none">
                            <div class="btn-list">

                                <span class="d-none d-sm-inline">
                                    <a href="#" class="btn btn-primary">
                                        Clonar
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="empty" id="emptyPy">
                        <div class="empty-img">
                            <img src="https://miro.medium.com/max/875/1*CsJ05WEGfunYMLGfsT2sXA.gif" height="128">
                        </div>
                        <p class="empty-title">Cargando "MASTER"</p>
                    </div>

                </div>

                @foreach (var item in Model)
                {
                    <div class="tab-pane" id="proyecto_@item.ProyectoID">

                        @if (item.Permiso == "EDITOR")
                        {
                            <div class="row align-items-center">
                                <div class="col-auto ms-auto d-print-none">
                                    <div class="btn-list">

                                        <span class="d-none d-sm-inline">
                                            <a href="#" class="btn btn-primary">
                                                Editar
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="empty" id="emptyPy_@item.TB_PROYECTO.NombreProyecto">
                            <div class="empty-img">
                                <img src="https://miro.medium.com/max/875/1*CsJ05WEGfunYMLGfsT2sXA.gif" height="128">
                            </div>
                            <p class="empty-title">Cargando "@item.TB_PROYECTO.NombreProyecto"</p>
                        </div>

                    </div>
                }

            </div>
        </div>

    </div>
</form>
